@if (units().length > 0) {

    <div class="wrapper">
        <h3>Create new activity:</h3>
        <div class="d-flex align-items-center gap-2">
            <input type="text" class="form-control" placeholder="Name of new activity" [(ngModel)]="activityName">
            <select name="unit" id="" class="form-select">
                @for (unit of units(); track unit.id) {
                    <option [value]="unit.id">
                        {{ unit.name }}
                    </option>
                }
            </select>
            <button class="btn btn-primary" (click)="createActivity()">Create</button>
        </div>
    </div>
    
}  