.wrapper {
    background-color: rgb(127, 138, 177);
    margin-left: 30%;
    margin-right: 30%;
}

h3 {
    text-align: center;
}

.new-entry-container {
    width:1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
    display: flex;
    gap: 16px;
    align-items: stretch; /* forces equal height */

}
