

@if (activities().length > 0) {

    <div class="wrapper">

        <h3>Create new entry:</h3>
        <div class="new-entry-container">
            <mat-form-field  >
                <mat-label>Choose Activity</mat-label>
                <mat-select [(ngModel)]="selectedActivityId" name="activity">
                @for (activity of activities(); track activity.id) {
                    <mat-option [value]="activity.id">
                    {{ activity.name }}
                    </mat-option>
                }
                </mat-select>
            </mat-form-field>
          
            <mat-form-field>
                <input matInput [(ngModel)]="selectedEntryValue" placeholder="Enter value of entry">
            </mat-form-field>
            <button class="btn btn-primary" (click)="createEntry()"> Create </button>
        </div>

    </div>
}  

