

@if (activities().length > 0) {
    <div class="wrapper">
        <h3>New Entry</h3>
        <div class="d-flex align-items-center gap-2">
            <select class="form-select" style="max-width: 200px;" [(ngModel)]="selectedActivityId" name="activity">
                @for (activity of activities(); track activity.id) {
                    <option [value]="activity.id">
                        {{ activity.name }}
                    </option>
                }
            </select>
            <input type="text" class="form-control" placeholder="Numerical value, eg. 1, 5, 20..." [(ngModel)]="selectedEntryValue">
            <button class="btn btn-primary" (click)="createEntry()">Submit</button>
        </div>
    </div>
}  

