@if(allActivitiesQuickStats().length > 0) {
  <div class="wrapper">
    <h3>Stats:</h3>
    <div class="grid-container">
      @for(activity of allActivitiesQuickStats(); track activity.activityName){
      <div class="grid-item">
        <p>Today {{ activity.todayValue }} {{ activity.unitName }} of {{ activity.activityName }}</p>
      </div>
      <div class="grid-item">
        <p>This week {{ activity.thisWeekValue }} {{ activity.unitName }} of {{ activity.activityName }}</p>
      </div>
      <div class="grid-item">
        <p>This month {{ activity.thisMonthValue }} {{ activity.unitName }} of {{ activity.activityName }}</p>
      </div>
       <div class="grid-item">
        <p>All time {{ activity.allTimeValue }} {{ activity.unitName }} of {{ activity.activityName }}</p>
      </div>
      }
    </div>
  </div>
 }