.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.grid-item {
  flex: 0 0 calc(25% - 16px);
  background: #f2f2f2;
  padding: 16px;
  border-radius: 8px;
}

h3 {
  text-align: center;
}


