.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.grid-item {
  flex: 0 0 calc(25% - 16px);
  background: #f2f2f2;
  padding: 16px;
  border-radius: 8px;
}

h3 {
  text-align: center;
}